html{
    /*border: 2px solid blue;*/
    padding: 0px 0px;
    height: 97%;
    

}
:root{
    --colorArrierePlan : #d60ce8 ;
    --colorArrierePlanMainChat : #FAF9FC ;
    --colorBody : #EAE8EE ;
    --colorHeaderChat : #D7D0E2 ;


}


body{
    /*border: 2px solid yellow;*/
    height: 100%;
    box-sizing: border-box;
    background-color: var(--colorBody);


}

.mainhome{
    height: 100%;
    width: 100%;
    /*border: 2px solid black;*/
    margin: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arriereplan::before{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 220px;
    content: "";
    background-color: var(--colorArrierePlan);
    z-index: -1;

}

.mainchat{
    width: 900px;
    height: 600px;
    border: 1px solid black;
    background-color: var(--colorArrierePlanMainChat);
    display: flex;
    /*padding: 1px;*/


}

.leftSide{
    /*border: 5px solid black;*/
    border: none;
    border-right: 2px solid var(--colorArrierePlanMainChat);
    /*width: 300px;*/
    flex: 0.5;
    display: flex;
    flex-direction: column;

}

.header-leftSide{
    /*border: 1px solid black;*/
    height: 57px;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorBody);

}
.user-info{
    display: flex;
    align-items: center;
}
.photo-profil{
    /*border: 1px solid red;*/
    border: none;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin-right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo-profil img{
    height: 60px;
    width: 60px;
}
.user-info p{
    font-weight: bold;
    font-size: large;
}
.menu-general{
   /*border: 2px solid green;*/
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.menu-general svg{
    color: var(--colorArrierePlan);
    font-weight: bold;
    font-size: xx-large;
}
.search-bar{
   /* border: 1px solid black ;*/
    height: 40px;
    display: flex;
    align-items: center;
    padding: 3px;
    background-color: var(--colorArrierePlanMainChat);

}
.form-search{
    display: flex;
    align-items: center;
    /*border: 1px solid black ;*/
    border: none;
    background-color: var(--colorBody);
    margin: 5px;
    width: 100%;
    border-radius: 7px;

}
.form-search input{
    display: inline-block;
    height: 26px;
    width: 100%;
    outline: none;
    background-color: var(--colorBody);
    border: none;
    border-radius: 7px;
    padding-left: 7px;

}
.form-search button{
    height: 28px;
    width: 28px;
    /*border: 1px solid black ;*/
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colorArrierePlan);
    cursor: pointer;
    background-color: var(--colorBody);
    margin-right: 5px;

}
button[type="reset"]{
    display: none;
}
.members-resultSearch{
    /*border: 3px solid blue ;*/
    border: none;
    border-top: 1px solid var(--colorHeaderChat) ;
    flex: 1;
    display: flex;
    overflow: auto;
    scrollbar-width: thin;
}

.members-resultSearch::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

.members-resultSearch::-webkit-scrollbar-thumb{
    background-color: rgba(11,20,26,.2);
}

.members-resultSearch::-webkit-scrollbar-track{
    background: rgba(255,255,255,.1);
}
.members{
    /*border: 3px solid yellow ;*/
    flex: 1;
    flex-direction: column;
    overflow: auto;
}
.item-chat{
    display: flex;
    background-color: var(--colorArrierePlanMainChat);
    height: 60px;
    /*border: 1px solid black;*/
    align-items: center;
    cursor: pointer;
    border: none;
    /*overflow: hidden;*/
}
.item-chat:hover{
    background-color: var(--colorBody);
}
.item-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
    margin-right: 8px;

}
.item-photo img{
    width: 55px;
    height: 55px;
}
.user{
    /*border: 10px solid black;*/
    /*border: none;*/
    border-bottom: 1px solid var(--colorArrierePlan);

    margin: 0px 0px;
    height: 100%;
    display: flex;
    flex: 1;

}

.rightSide{
    /*border: 5px solid red;*/
    flex: 1;
    display: flex;

}
.content-chat{
    /*border: 5px solid yellow;*/
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header-chat{
    /*border: 2px solid black;*/
    height: 60px;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colorBody);
    border: none;
    /*border-left: 2px solid var(--colorArrierePlanMainChat);*/
}
.info-destinataire{
    display: flex;
    align-items: center;
}
.photo-destinataire{
    height: 55px;
    width: 55px;
    /*border: 1px solid black;*/
    border-radius: 50%;
    margin-right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo-destinataire img{
    height: 60px;
    width: 60px;
}
.info-destinataire p{
    font-size: large;
    font-weight: bold;
}
.menu-destinataire{
    height: 40px;
    width: 40px;
    border: none;
    /*border: 1px solid black;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-destinataire svg{
    color: var(--colorArrierePlan);
    font-weight: bold;
    cursor: pointer;
}

.discussion{
    /*border: 2px solid blue;*/
    height: 100%;
    background-image: url("../../pictures/chatmini.png");
    padding: 5px 10px 5px 10px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: auto;

   
}

/**** style de l'assenceur dans le chat ******/

.discussion::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

.discussion::-webkit-scrollbar-thumb{
    background-color: rgba(11,20,26,.2);
}

.discussion::-webkit-scrollbar-track{
    background: rgba(255,255,255,.1);
}

.photo-message-left{
    display: flex;
    margin: 0px 0px 10px 0px;
    /*border: 2px solid red;*/

}
.photo-left, .photo-right{
    width: 45px;
    height: 45px;
    min-width: 45px;
    min-height: 45px;
    border-radius: 50%;
    /*border: 2px solid yellow;*/
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo-left img, .photo-right img{
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    margin: 0px 0px;
    
}

.message-left{
    background-color: #fff;
    max-width: 400px;
    margin: 0px 0px 0px 8px;
    padding: 6px 7px 3px 9px;
    border-radius: 8px;
    border-top-left-radius: 0px;
    box-shadow: 0 1px 0.5px rgba(11, 20, 26, .13);
}
.message-left-name{
    margin: 0px 0px;
    padding: 0px 0px;
    font-weight: bold;
    color: var(--colorArrierePlan);
}
.main-message{
    margin: 0px 0px;
    padding: 0px 0px;
    /*font-size: x-small;
    color: blue;*/
    font-weight: 300;
}
.message-date{
    text-align: right;
    font-size: 12px;
    margin: 0px 0px;
    padding: 0px 0px;
}
.photo-message-right{
    display: flex;
    flex-direction: row-reverse;
    margin: 0px 0px 10px 0px;
    /*border: 2px solid red;*/

}
.message-right{
    background-color: #d9fdd3;    
    max-width: 400px;
    margin: 0px 8px 0px 0px;
    padding: 6px 7px 3px 9px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    box-shadow: 0 1px 0.5px rgba(11, 20, 26, .13);
}
    /*.message-right p{
        font-weight: 400;
        margin: 0px 0px;
        padding: 0px 0px;
        font-size: large;
    }
    */



.footer-chat{
    /*border: 2px solid blue;*/
    height: 60px;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    background-color: var(--colorHeaderChat);

}

.menu-file{
    /*border: 1px solid black;*/
    border: none;
    background-color: var(--colorHeaderChat);
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-radius: 50%;
}
.menu-file i{
    font-size: x-large;
    color: var(--colorArrierePlan);
    cursor: pointer;
}
.menu-file i:hover{
    font-size: xx-large;
}

.message{
    /*border: 1px solid green;*/
    border: none;
    flex: 1px;
    outline: none;
    height: 25px;
    padding: 5px 5px;
    resize: none;
    font-size: large;
    max-height: 60px;
    background-color: var(--colorArrierePlanMainChat);
    border-radius: 5px;
    padding: 5px;

}

.message::-webkit-scrollbar{
    width: 0px;
}


.send-message{
    /*border: 1px solid black;*/
    border: none;
    background-color: var(--colorArrierePlan);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}
.send-message i{
    font-size: x-large;
    color: var(--colorArrierePlanMainChat);
    cursor: pointer;
}
.send-message i:hover{
    font-size: xx-large;
}